# Zapier Webhook URLs
VITE_ZAPIER_REGISTRATION_WEBHOOK=https://hooks.zapier.com/hooks/catch/YOUR_ID/REGISTRATION_TOKEN/
VITE_ZAPIER_NEWSLETTER_WEBHOOK=https://hooks.zapier.com/hooks/catch/YOUR_ID/NEWSLETTER_TOKEN/
VITE_ZAPIER_BULK_EMAIL_WEBHOOK=https://hooks.zapier.com/hooks/catch/YOUR_ID/BULK_TOKEN/
